---
import Sidebar from "../components/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio">
  <main>
    <Sidebar />
    <section>
      <h1>Hola Mundo</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        accusantium saepe dolorem. Consequatur, praesentium error quam, et quo
        natus id maxime, deleniti magni voluptatibus officiis ab quos illum
        accusamus! Possimus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        accusantium saepe dolorem. Consequatur, praesentium error quam, et quo
        natus id maxime, deleniti magni voluptatibus officiis ab quos illum
        accusamus! Possimus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        accusantium saepe dolorem. Consequatur, praesentium error quam, et quo
        natus id maxime, deleniti magni voluptatibus officiis ab quos illum
        accusamus! Possimus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        accusantium saepe dolorem. Consequatur, praesentium error quam, et quo
        natus id maxime, deleniti magni voluptatibus officiis ab quos illum
        accusamus! Possimus?
      </p>
      <h2>Hola Mundo</h2>
    </section>
  </main>
</Layout>

<style>
  main {
    color: white;
    display: flex;
  }
</style>
