---
import Background from "../components/Background.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Background />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color-gray: #9fa6af;
    --color-white: #ffffff;
    --color-green: #17b877;
    --color-purple: #a87ffb;
    --color-light-blue: #25a6e9;
    --color-dark: #10151d;
    --color-dark-blue: #151f2b;
    --color-deep-blue: #1d2633;
    --color-navy-blue: #2e3c51;
  }

  /* Define la fuente personalizada */
  @font-face {
    font-family: "Roboto";
    src: url("/public/Roboto/Roboto-VariableFont_wdth\,wght.ttf")
      format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/public/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf")
      format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }
</style>
